body {
  margin: 0;
}

.main {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-board {
  display: flex;
  justify-content: center;
  text-align: center;
}

.scores {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.pokemon-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  display: flex;
  border: none;
  border-radius: 10%;
  box-shadow: 5px 5px 10px gray;
  width: 170px;
  justify-content: center;
  align-items: center;
}