body {
  display: flex;
  flex-direction: column;
}

.score-board {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 800px;
  border: 1px solid white;
}

.scores {
  display: flex;
  text-align: center;
  justify-content:space-around;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}